.bloon::after {
    content: '🎈';
}

.popped::after {
    content: '💥';
}

.emoji {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
}

h3 {
    text-align: center;
}