<div class="calculator">
    <div class="result">{{stringToExecute}}</div>
    <button (click)="reset()" class="button reset">CLEAR</button>
    <button (click)="back()" class="button back">BACK</button>
    <button (click)="clickedNumber('9')" class="button number">9</button>
    <button (click)="clickedNumber('8')" class="button number">8</button>
    <button (click)="clickedNumber('7')" class="button number">7</button>
    <button (click)="clickedNumber('6')" class="button number">6</button>
    <button (click)="clickedNumber('5')" class="button number">5</button>
    <button (click)="clickedNumber('4')" class="button number">4</button>
    <button (click)="clickedNumber('3')" class="button number">3</button>
    <button (click)="clickedNumber('2')" class="button number">2</button>
    <button (click)="clickedNumber('1')" class="button number">1</button>
    <button (click)="clickedNumber('0')" class="button point">0</button>
    <button (click)="clickedNumber('+')" class="button plus">+</button>
    <button (click)="clickedNumber('-')" class="button minus">-</button>
    <button (click)="result()" class="button equal">=</button>
</div>